.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 2rem;
  width: 100%;
}
.card-container{
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;

}
.card-container:hover{
 background-color: aliceblue;
 color: green;
}
.search-container{
  width: 40%;
  margin: 10px 0px 10px 0px;
}